
body {
  /*padding-top: 110px;  60px to make the container go all the way to the bottom of the topbar */
}

.logoContainer {
  width: 100%;
  height: 186px;
  position: absolute;
  top: 50%;
  margin-top: -93px;
  text-align: center;
}

.logo {
  margin: auto auto;
  width: 400px;
  height: 186px;
  background: url(../Content/Images/Boom-Jennies-Logo.jpg) no-repeat left top;
}

.logo-new 
{
  width: 400px;
  height: 186px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  background: url(../Content/Images/Boom-Jennies-Logo.jpg) no-repeat;
}
.logoContainer-new {
  position: absolute;
  left: 50%;
  margin-left: -200px;
}

/***************************************
Fonts
****************************************/
p { 
  font-family: 'BodoniDTCBoldItalic', Arial, sans-serif; 
  color: #000000;
  font-size: 1.2em;
  line-height: 1.5em;
}
h1 
{
  font-size: 2em; 
  font-family: 'BodoniPosterSSiRegular', Arial, sans-serif;
  text-transform: uppercase;
  color: #FF0099;
  letter-spacing:2px;
  font-weight: normal;
}
h2 
{
  font-family: 'BodoniDTCBold', Arial, sans-serif;
  font-size: 1.3em; 
  letter-spacing:3px;
  text-transform: uppercase;
  line-height: auto;
  font-weight: normal;
}
h3
{
  font-family: 'BodoniDTCBold', Arial, sans-serif;
  font-size: 1.2em; 
  letter-spacing:3px;
  text-transform: uppercase;
  line-height: auto;
  font-weight: normal;
}
a
{
  color: #FF0099;
}
a:active, a:focus, a:selected, a:visited { 
    border: none;
    outline: none;
}

p.dateTextStyle
{
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0px;
}
.projection-page h2
{
    line-height: 1em;
    margin-bottom: 3px;
}

@media (max-width: 1024px) {
  /*  Problem with letter spacing on ipad/iphone so ignore it on small resolutions */
	h1 
	{
	  letter-spacing: normal;
	}
	h2 
	{
	  letter-spacing: normal;
	}
}

@font-face {
    font-family: 'BodoniDTCBold';
    src: url('fonts/bodoninormal-webfont.eot');
    src: url('fonts/bodoninormal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bodoninormal-webfont.woff') format('woff'),
         url('fonts/bodoninormal-webfont.ttf') format('truetype'),
         url('fonts/bodoninormal-webfont.svg#BodoniDTCBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BodoniDTCBoldItalic';
    src: url('fonts/bodoniitalic-webfont.eot');
    src: url('fonts/bodoniitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bodoniitalic-webfont.woff') format('woff'),
         url('fonts/bodoniitalic-webfont.ttf') format('truetype'),
         url('fonts/bodoniitalic-webfont.svg#BodoniDTCBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BodoniPosterSSiRegular';
    src: url('fonts/bodoni_poster_ssi-webfont.eot');
    src: url('fonts/bodoni_poster_ssi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bodoni_poster_ssi-webfont.woff') format('woff'),
         url('fonts/bodoni_poster_ssi-webfont.ttf') format('truetype'),
         url('fonts/bodoni_poster_ssi-webfont.svg#BodoniPosterSSiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar-inner 
{
    background-color: #FFFFFF;
    background-image: none;
    filter: none;
    padding: 20px 0px 10px;
}

/* center menu */
.nav-collapse {
  text-align: center;
}
.navbar .nav {
  display: inline-block;
  float: none;
  margin: 0 auto;

}
.navbar-fixed-top {
    position: static;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar .nav > li > a {
  padding: 0px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #FFFFFF;
}
.nav-link
{
    display: inline-block;
    width:100px;
    height:70px;
    background-image:url(../Content/Images/nav-sprite.png);
    outline: 0;
}
.nav-link span
{
  display: none;
}
.nav-about-us { background-position:0px 0px; }
.nav-about-us-selected { background-position:0px -71px; }
.nav-contact { background-position:-101px 0px; }
.nav-contact-selected { background-position:-101px -71px; }
.nav-edinburgh { background-position:-202px 0px; }
.nav-edinburgh-selected{ background-position:-202px -71px; }
.nav-gallery { background-position:-303px 0px; }
.nav-gallery-selected { background-position:-303px -71px; }
.nav-gigs { background-position:-404px 0px; }
.nav-gigs-selected { background-position:-404px -71px; }
.nav-news { background-position:-505px 0px; }
.nav-news-selected { background-position:-505px -71px; }
.nav-reviews { background-position:-606px 0px; }
.nav-reviews-selected { background-position:-606px -71px; }
.nav-videos { background-position:-707px 0px; }
.nav-videos-selected { background-position:-707px -71px; }

.imageFrame
{
    border: 30px white;
    text-align: center;
}
.imageFrame-1
{
	-moz-border-image:url("../content/images/frame1.png") 100 100 100 100 repeat repeat;
	-webkit-border-image:url("../content/images/frame1.png") 100 100 100 100 repeat repeat;
	border-image:url("../content/images/frame1.png") 20% 20% 20% 20% stretch stretch;
}

.imageFrame-2
{
	-moz-border-image:url("../content/images/frame2.png") 20% 20% 20% 20% stretch stretch;
	-webkit-border-image:url("../content/images/frame2.png") 20% 20% 20% 20% stretch stretch;
	border-image:url("../content/images/frame2.png") 20% 20% 20% 20% stretch stretch;
}
.imageFrame-3
{
	-moz-border-image:url("../content/images/frame3.png") 20% 20% 20% 20% stretch stretch;
	-webkit-border-image:url("../content/images/frame3.png") 20% 20% 20% 20% stretch stretch;
	border-image:url("../content/images/frame3.png") 20% 20% 20% 20% stretch stretch;
}
.imageFrame-4
{
	-moz-border-image:url("../content/images/frame4.png") 20% 20% 20% 20% stretch stretch;
	-webkit-border-image:url("../content/images/frame4.png") 20% 20% 20% 20% stretch stretch;
	border-image:url("../content/images/frame4.png") 20% 20% 20% 20% stretch stretch;
}
.imageFrame-5
{
	-moz-border-image:url("../content/images/frame5.png") 20% 20% 20% 20% stretch stretch;
	-webkit-border-image:url("../content/images/frame5.png") 20% 20% 20% 20% stretch stretch;
	border-image:url("../content/images/frame5.png") 20% 20% 20% 20% stretch stretch;
}

/*
.btn-navbar {
  background-color: #F09;
  background-image: -moz-linear-gradient(top, #F09, #F39);
  background-image: -ms-linear-gradient(top, #F09, #F39);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F09), to(#F39));
  background-image: -webkit-linear-gradient(top, #F09, #F39);
  background-image: -o-linear-gradient(top, #F09, #F39);
  background-image: linear-gradient(top, #F09, #F39);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F09', endColorstr='#F39', GradientType=0);
  border-color: #F39 #F39 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar.active,
.btn-navbar.disabled,
.btn-navbar[disabled] {
  background-color: #FF3399;
}
*/

/*@media (max-width: 979px) {*/
@media (max-width: 799px) {
  body {
      padding-top: 0px;
  }
  .navbar-fixed-top {
      position: static;
      top: 0px;
      margin-bottom: 18px;
  }
  .nav-collapse {
    text-align: left;
  }
  .navbar-inner
  {   
    /* pink: #FF0099, #ff3399 */
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #666666, #999999);
    background-image: -ms-linear-gradient(top, #666, #999999);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#999999));
    background-image: -webkit-linear-gradient(top, #666666, #999999);
    background-image: -o-linear-gradient(top, #666666, #999999);
    background-image: linear-gradient(top, #666666, #999999);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#999999', GradientType=0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
  }
  .nav-link
  {
      display: auto;
      width: auto;
      height: auto;
      background-image: none;
  }
  .nav-link span
  {
    display: inline;
	color: #FFF;
  }
  .navbar .nav > li > a {
    padding: 10px 10px 11px;
  }
}
