@using Orchard.Utility.Extensions;
@{
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}

@functions 
{
    string DateOrdinal(DateTimeOffset date)
    {
        int number;
        if(!int.TryParse(date.ToString("dd"), out number))
        {
          return "";
        }
        string suffix = String.Empty;

        int ones = number % 10;
        int tens = (int)Math.Floor(number / 10M) % 10;

        if (tens == 1)
        {
                suffix = "th";
        }
        else
        {
                switch (ones)
                {
                        case 1:
                                suffix = "st";
                                break;
                        case 2:
                                suffix = "nd";
                                break;
                        case 3:
                                suffix = "rd";
                                break;
                        default:
                                suffix = "th";
                                break;
                }
        }
        return String.Format("{0}{1}", number, suffix);
    }
}

<div class="newsStory" style="margin-bottom: 10px; padding-bottom: 10px;">
    @T(Model.Item.BodyPart.Text)
</div>  

@*
Title: '@Model.Item.TitlePart.Title'<br/>
Body: '@T(Model.Item.BodyPart.Text)'
Date: '@Model.Item.Gig.GigDateTime.DateTime'
*@
